################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/TestPdfFileWriter/.vs/TestPdfFileWriter/FileContentIndex/bf82c7e6-5e9e-452a-b213-0275f48262cf.vsidx
/TestPdfFileWriter/.vs/TestPdfFileWriter/FileContentIndex/2c47e67f-4b6f-4473-a2b4-b082e91de602.vsidx
/TestPdfFileWriter/.vs/TestPdfFileWriter/FileContentIndex/fd23fc4d-c6d7-4d94-8b4a-b876916c9cb5.vsidx
/TestPdfFileWriter/.vs/TestPdfFileWriter/FileContentIndex/read.lock
